config.yaml
*.gz
*.log
*.rds
*.info
*.csv
*.txt
*.enc
*.enc_ukb
*.xlsx
encoding.ukb
fields.ukb
*.tab
sumstats/UKB/*.r
sumstats/**/*.png
sumstats/reference
sumstats/aligned
*_cache/
meta/pcaer_sub
meta/pi_sub
meta/reference_info
meta/refiex_templ
meta/distribution/*
**/logs/*
pheno/*
*.RData
mtag/mtag/
ext/sumstats
