config.yaml
*.gz
*.log
*.rds
*.info
*.csv
*.txt
*.gz
!*.prevs.txt
*.enc
*.enc_ukb
*.xlsx
encoding.ukb
fields.ukb
*.tab
sumstats/UKB/*.r
sumstats/**/*.png
sumstats/reference
**/aligned
sumstats/aligned
sumstats/UKB/Touchscreen
*_cache/
meta/pcaer_sub
meta/pi_sub
meta/reference_info
meta/refiex_templ
meta/j._*
meta/errandout
meta/resdaner
meta/emptyinfo
meta/datasets_info*
meta/empty_info
*.meta
*.done
meta/distribution/*
meta/distribution
meta/munged
**/logs/*
pheno/*
*.RData
mtag/mtag/
.nextflow*
**/work/
HRC_reference.r1-1
pgc_gwas/
ext/sumstats
prs/genscot
prs/lib
*.best
*.mismatch
*.prsice
*.summary
*.score
Rplots.pdf
.nextflow/
.nextflow.log*
work/
